{% assign b_s = block.settings %}
{% comment %}背景颜色{% endcomment %}
{% capture bg_color %}
  style="background: {{ b_s.super_menu_bg_color }}"
{% endcapture %}

{%- if b_s.collection_list != blank -%}
  <div class="uk-navbar-dropdown uk-margin-remove" {{ bg_color}} uk-drop="pos: bottom-justify;delay-show: 125;boundary: .tm-header;boundary-align: true;flip: x;animation: uk-animation-slide-top-small;">
    {% comment %} {{ b_s.super_menu_liquid }} {% endcomment %}
    <div class="super-menu-dropdown">
      <div class="super-menu__shop-list">
      {%- for block in b_s.collection_list -%}
        <div class="super-menu__shop-item">   
          <a href="{{ block.url }}">
            <div class="super-menu__shop-image" {% if block.featured_image != blank %} data-src="{{ block.featured_image | img_url: 'master' }}" uk-img="loading: eager" {% endif %}><span></span></div>
          </a>
          <div>
            <a href="{{ block.url }}"><h3>{{ block.title }}</h3></a>
            {%- for variant in block.products limit: 5 -%}
            <a href="{{ variant.url }}">{{ variant.title }}</a>
            {%- endfor -%}
          </div>
        </div>
      {%- endfor -%}
      </div>
      <div class="super-menu__new-shop-list">
        {%- for block in b_s.new_collection_list -%}
          <div class="super-menu__new_shop-item">
            <div class="super-menu__shop-image" {% if block.featured_image != blank %} data-src="{{ block.featured_image | img_url: 'master' }}" uk-img="loading: eager" {% endif %}><span></span></div>
            <div>
              <h3>{{ block.title }}</h3>
              <div class="new-shop__logo" {% if block.products[0].featured_image != blank %} data-src="{{block.products[0].featured_image | img_url: 'master' }}" uk-img="loading: eager" {% endif %}><span></span></div>
            </div>
          </div>
        {%- endfor -%}
        {% comment %} {% render 'header-super-menu-newShopList' %} {% endcomment %}
      </div>
    </div>
  </div>
{%- endif -%}
