{% assign b_s = block.settings %}
{% comment %}背景颜色{% endcomment %}
{% capture bg_color %}
  style="background: {{ b_s.super_menu_bg_color }}"
{% endcapture %}

{%- if b_s.super_menu_liquid != blank -%}
  <div class="uk-navbar-dropdown uk-margin-remove" {{ bg_color}} uk-drop="pos: bottom-justify;delay-show: 125;boundary: .tm-header;boundary-align: true;flip: x;animation: uk-animation-slide-top-small;">
    {% comment %} {{ b_s.super_menu_liquid }} {% endcomment %}
    <div>
    {%- for block in b_s.product_list -%}
      <div>
        <div data-src="{{ block.featured_image | img_url: 'master' }}"  uk-img="loading: eager"><span></span></div>
        <div>
          <h3>{{ block.title }}</h3>
          {%- for variant in block.options_with_values -%}
          <p>{{ variant.name }}</p>
          {%- endfor -%}
        </div>
      </div>
    {%- endfor -%}
    </div>
  </div>
{%- endif -%}
