{% assign b = section.blocks %}
{% assign s = section.settings %}
{% style %}
    .popularProduct-{{ section.id }} .popularProduct-item{
        {% if s.image_height != blank %}
            height:{{ s.image_height }}px;
        {% else %}
            height:300px;
        {% endif %}
    }
    .popularProduct-{{ section.id }} .enable_margin_top{
        margin-top:30px;
    }
    .popularProduct-{{ section.id }} .enable_margin_bottom{
        margin-bottom:30px;
    }
{% endstyle %}

{{ 'components-popularProduct.css' | asset_url | stylesheet_tag }}
<div class="popularProduct popularProduct-{{ section.id }} {% if s.enable_margin_top%} enable_margin_top {% endif %} {% if s.enable_margin_bottom%} enable_margin_bottom {% endif %}" >
    <h1>{{ b.settings.title }}</h1>
    <div class="popularProduct-list">
        {% for block in b %}
        {% assign b_s = block.settings %}
        {% style %}
            .popularProduct-item-{{ block.id }} , .popularProduct-item-{{ block.id }} h1 , .popularProduct-item-{{ block.id }} .uk-button{
                color:{{ b_s.color }};
            } 
            .popularProduct-item-{{ block.id }} .uk-button{
                border: 1px solid {{ b_s.color }};
            } 
        {% endstyle %}

        <div class="popularProduct-item popularProduct-item-{{ block.id }}"  {% if b_s.image != blank %} data-src="{{ b_s.image | img_url: 'master' }}" uk-img="loading: eager"{% endif %}>
            <div class="popularProduct-position">
                <h1>{{ b_s.title }}</h1>
                <p>{{ b_s.info }}</p>
                <div>
                    <a class="uk-button uk-button-small uk-button-default uk-border-round uk-text-500" href="{{ b_s.btn_url }}">
                    {{ b_s.btn_text }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name":"popularProduct",
        "tag": "section",
        "settings":[
            {
                "type": "checkbox",
                "id": "enable_margin_top",
                "label": "是否开启顶部边距?",
                "default": false,
                "info": "设置顶部的边距"
            },
            {
                "type": "checkbox",
                "id": "enable_margin_bottom",
                "label": "是否开启底部边距?",
                "default": false,
                "info": "设置顶部的边距"
            },
            {
                "type":"header",
                "content":"文案配置"
            },
            {
                "type":"text",
                "id":"title",
                "label":"标题"
            },
            {
                "type":"select",
                "id": "text_position",
                "label": "文案位置选择",
                "default": "middle_center",
                "options":[
                    {
                        "label": "Top Left",
                        "value": "top_left"
                    },
                    {
                        "label": "Top Center",
                        "value": "top_center"
                    },
                    {
                        "label": "Top Right",
                        "value": "top_right"
                    },
                    {
                        "label": "Middle Left",
                        "value": "middle_left"
                    },
                    {
                        "label": "Middle Center",
                        "value": "middle_center"
                    },
                    {
                        "label": "Middle Right",
                        "value": "middle_right"
                    },
                    {
                        "label": "Bottom Left",
                        "value": "bottom_left"
                    },
                    {
                        "label": "Bottom Center",
                        "value": "bottom_center"
                    },
                    {
                        "label": "Bottom Right",
                        "value": "bottom_right"
                    }
                ]
            },
            {
                "type":"number",
                "id":"image_height",
                "label":"图片高度",
                "info":"默认高度300px"
            }
        ],
        "blocks":[
            {
                "type":"image-test",
                "name": "图文",
                "limit":2,
                "settings":[
                    {
                        "type":"image_picker",
                        "id":"image",
                        "label":"图片选择"
                    },
                    {
                        "type":"text",
                        "id":"title",
                        "label":"请输入标题"
                    },
                    {
                        "type":"text",
                        "id":"info",
                        "label":"请输入描述"
                    },
                    {
                        "type":"text",
                        "id":"btn_text",
                        "label":"按钮文案"
                    },
                    {
                        "type":"url",
                        "id":"btn_url",
                        "label":"跳转地址"
                    },
                    {
                        "type":"color",
                        "id":"color",
                        "label":"文案颜色"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "popularProduct",
                "blocks": [
                    {
                        "type": "image-test"
                    }
                ]
            }
        ]
    }
{% endschema %}